img{

   position: relative;
   width: 50px;
   height:50px;
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 width:790px;
 margin-left:600px;
 margin-top: -60px;
}

li {
 float: left;
 padding-left: 50px;
}

li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 color:grey;
 font-size:20px;
}

li a:hover {
 color: black;
 text-decoration:none;

}
.product img{
width:100px;
height: 100px;
}
li a:focus{
text-decoration:none;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}